html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 100px;
  position: relative;
}

.center {
  text-align: center;
}

p {
  font-size: 22px;
}

.section-title {
    font-family: 'Libre Baskerville', serif;
}

.btn-lg {
    font-size: 20px;
}
/* Nav Bar #F9EDE1*/

#name {
  font-size: 30px;
  font-weight: 100;
  color: black;
  font-family: 'Pacifico', cursive;
}

.navbar {
  background-color: white;
  border: 0;
  padding: 20px 100px 20px 100px;
  font-size: 20px;
}

li {
  padding: 0px 30px 0px 30px;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  background-color: white !important;
}

.navbar-nav {
  text-align:center;
}

a {
    text-decoration: none !important; 
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;

}

a.nav-active span {
  border-bottom: 2px solid black;
}

a.nav-hover:hover span {
  color: darkred;
  border-bottom: 2px solid darkred;
}

/* slideshows */

#slideshow {
  margin: 120px auto;
  width: 240px;
  height: 600px;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#idesign, #iresearch, #icode {
    height: 800px;
    width: 100%;
}

.empty {
    visibility: hidden;
}

/* introduction */
.introduction{
    padding: 20px 20px 80px 20px;
}

#headshot{
    float: right;
    width: 25%;
}

/* projects */

.projects{
    padding-top: 75px;
    padding-bottom: 20px;
}

.img-proj {
    width: 100%;  
    background-size: cover;
}

.project {
	position: relative;
	overflow: hidden;
	/*display: inline-block;*/
	width: 50%;
    float: left;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.project img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}


.project .captions {
	position: absolute;
	top: 50%;
	right: 10%;
	bottom: 0;
	left: 10%;
    visibility: hidden;
}


.captions:hover .captions h3 {
  display: block;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 23% 0 0;
	border-top: 5px solid rgba(255, 255, 255, .15);
	border-bottom: 5px solid rgba(255, 255, 255, .15);
}

.project:hover .captions {
    color: black;
    visibility: visible;
}

.project:hover .img-proj {
    opacity: 0.25;
}

/* About Me */
.aboutme {
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 150px;
    height: 800px;
    background: url("../img/beach.jpg");
}

.aboutme-text{
    padding-top: 150px;
}

.design-box {
    border: 2px solid black;
    background: white;
    opacity: 0.85;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 25px;
    
}

.code-box {
    border: 2px solid black;
    height: 50%;
    margin-bottom: 20px;
    background: white;
    opacity: 0.85;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 25px;
}

/* contact me */
.contactme {
    padding-top: 150px;
    padding-bottom: 200px;
    height: 100%;
    background-color: #4d4f51;
    color: white;
}


.large{
   display:inline-block;
}

.small{
   display:none;
}

.box {
    width: 100%;
}


.mobile-title {
    display: none;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-100 {
    display: block;
    width: 100%;
    height: auto;
}
img.flex-100 {
    width: 100%;
}
/* Responsive */
@media (max-width: 850px) {

    #idesign, #icode, #iresearch {
        /*content:url("img/mobile_homepage.jpg");*/
        height: 600px;
        width: 100%;
    }

    #slideshow {
        height: 450px;
        padding: 0;
        margin: 0;
    }
    
    .captions {
        width: 50%;
        font-size: 1em;
    }
    .sectio-title{
        font-size: 1.5em;
    }
    p {
        font-size: 1.25em;
    }
    .large{display: none;}
    .small{display:inline-block;}


    .aboutme-text{
        padding-top: 0px;
    }
    .design-box, .code-box {
        width: 80%;
        justify-content: center;
    }

    .projects {
        height: 600px;
    }

    li {
        font-size: 1em;
    }

    .box {
        width: 50%;
    }

}


/* buttons */
button {
	font-size: 22px;
}
#more {
    border: 1px solid black;
    background-color: white;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0 !important;
}

#more:hover {
    border: 1px solid white;
    background-color: #4d4f51;
    color: white;
}

#more:hover a {
    background-color: #4d4f51;
    color: white;
}


.title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 60px;
}

.title-description {
    text-align: center;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.caption h3 {
    color: #fff;
}

@media (max-width: 992px) {
    .aboutme {
        height: 980px;
    }
    .aboutme-text {
        padding-top: 0px;
    }
}

@media (max-width: 765px) {
    .introduction {
        text-align: center;
    }

     .project{
       position: static;
       overflow: none;
       width: 100%;
    }
    .navbar {
        padding: 0;
    }
     #headshot {
        float: none;
        width: 70%;
    }
    .img-circle {
        border-radius: 100%;
    }
    #slideshow, .greet {
        display: none;
    }
    .mobile-title{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .height-100vh {
        height: 100vh;
    }
    .title {
        font-size: 35px;
    }

}

@media (max-width: 700px) {
    #headshot {
        float: none;
        width: 70%;
    }
    .img-circle {
        border-radius: 100%;
    }
    #slideshow, .greet {
        display: none;
    }
    .mobile-title{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .title {
        font-size: 35px;
    }
    .projects {
        height: 300px;
    }   

    h3 {
        font-size: 1.5em;
    }
    p{
        font-size: 1.25em;
    }
    .aboutme {
        padding: 0;
    }
    .project{
       position: static;
       overflow: none;
       width: 100%;
    }
    #idesign{
        content:url("../img/hk.jpg");
        height: 800px;
        width: 100%;
        display: cover;
        opacity: .5;
        position: absolute;
        z-index: -1;
    }
   #icode{
        content:url("../img/design.jpeg");
        height: 800px;
        width: 100%;
        display: cover;
        opacity: .5;
        position: absolute;
        z-index: -1;
    }
  #iresearch {
        content:url("../img/beach.jpg");
        height: 800px;
        width: 100%;
        display: cover;
        opacity: .5;
        position: absolute;
        z-index: -1;
    }

    #slideshow {
        height:600px;
    }
}

@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

