.jumbotron {
    background-image: url(../img/music3.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
    background-repeat: no-repeat;
    color: white;
    font-weight: 200;
    font-size: 112px;
}

.app-name{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 100px;

}

p {
    font-size: 15px;
}

.music-section {
    height: 3500px;
}

.descriptions {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a >img {
    width: 50%;
    margin: auto;
    
}

.panel-default > .panel-heading {
    background: white;
    border: 1px solid black;
}

.panel-default > .panel-heading > .panel-title {
    padding-left: 20px;
}

.panel-default:hover .panel-heading {
    background: #4d4f51;
    border: 1px solid white;
}