/*

.home{
	background-image: url("background.jpg");
}

.navbar {
  background-color: black;
  border: 0;
}
.navbar-default .navbar-nav > .active{
  background: rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: rgba(255, 255, 255, 0);
}
.nav.navbar-nav li a {
  color: white;
}
.navbar-brand {
  color: white !important;
}
.navbar.center {
    text-align: center;
}

.navbar.center .nav {
    display:inline-block;
    float: none;
}
.container{
	margin-left: 100px
}

.hometitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: black;
  text-align: left;
  font-size: 100pt;
  padding-left: 20px:
}

.cover-photo {
	display: block;
	margin: 0 auto;
	width: 888px;
	height: 600px;
}

.description {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  text-align: left;
  padding-top: 20px;
  float: left;
}

.homestreak {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 20pt;
}

.num {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50pt;
}

.boxed{
  border: 1px solid white;
}

.btn {
  margin: 20px;
  background-color: #ED888B;
  border: 2px solid #fff;
  color: #fff;
  width: 200px;
}

.btn:hover {
  background-color: white;
  color: #ED888B;
  border: 2px solid #ED888B;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: white;
    text-align: center;
}

.vertical-align {
  margin-top: 10%;
}

*/
